/* GLOBAL */
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #ffffff;
}

h1 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  line-height: 15px;
  text-align: center;
  letter-spacing: normal;
}

h2 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  letter-spacing: normal;
  line-height: 48px;
  text-align: start;
}

.mar50 {
  margin-top: 50px;
}

figure {
  margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/* END */

/* HEADER */
header {
  height: 42px;
  border-bottom: 1px solid #e2e2e2;
  background: #ffffff;
  position: fixed;
  width: 100%;
  top: 0;
}

.navbar {
  width: 90%;
  height: 100%;
  margin: 0 auto;
}

.navbar ul {
  padding: 0;
  width: 95%;
  height: 100%;
  margin: 0 auto;
}

.navbar ul li {
  list-style: none;
  float: left;
  margin: 12px 0px;
  cursor: pointer;
}

.navbar ul li[rel~="left"],
li[rel~="right"] {
  padding: 0px 14px;
}

.navbar ul li[rel~="fz09"] {
  font-size: 0.9rem;
  font-weight: bolder;
}

.navbar ul li[rel="img"] {
  margin: 0;
  padding: 0 400px;
}

.navbar ul li.link {
  font-size: .8rem;
  font-weight: bold;
  color: #494949;
  opacity: 0.7;
}

.navbar ul li.link:hover {
  color: #0f0f0f;
  opacity: 0.9;
}

.navbar ul li[rel~="fz09"].und:hover {
  text-decoration: underline;
} 

.navbar ul li.under {
  text-decoration: underline;
}

.navbar ul li[rel~="btn"] {
  margin: 3px 0;
}

.navbar ul li[rel~="right"] button {
  background: #0f0f0f;
  width: 62px;
  padding: 8px;
  color: #ffffff;
  border-radius: 3px;
  border: 1px solid #0f0f0f;
  font-size: 12px;
  font-weight: bold;
}

.navbar ul li a {
  text-decoration: none;
  color: rgb(12, 12, 12);
}

/* END */


/* WRAP */

.wrap {
  width: 63%;
  margin: 0 auto;
  margin-top: 40px;
}

.wrap .title {
  margin: 0 auto;
  margin-top: 80px;
  width: 100%;
}

.wrap h2 {
  margin-left: 300px;
  font-family: 'Times New Roman', Times, serif;
  width: 390px;
  font-size: 35px;
  line-height: 1;
}

.hero {
  width: 100%;
  margin: 0;
}

.hero .img {
  width: 100%;
  padding: 0;
  margin: 0;
}

.hero .img img {
  width: 100%;
}

.hero .imgfooter {
  margin-top: 6px;
  width: 74%;
}

.imgfooter span {
  font-size: 15px;
  color: #666666;
}

.imgfooter span.author {
  font-size: 13px;
  color: #888888;
}

.mainContent {
  width: 50%;
  margin: 0 auto;
  margin-top: -35px;
  /* background: red; */
}

.menu {
  /* background: #494949; */
  height: 30px;
}

.center .title {
  font-size: 15px;
  font-weight: bold;
}

.center .title:hover {
  cursor: pointer;
}

.mainContent .menu .left {
 float: left;
 margin-top: 5px;
 font-size: 13px;
}

.mainContent .menu .right {
  float: right;
  /* background: gray; */
  height: 30px;
}

.right ul {
  list-style: none;
  margin: 0;
}

.right ul li {
  float: left;
  padding: 5px;
  background: rgba(0,0,0,0.1);
  border-radius: 50%;
  margin-right: 15px;
  font-size: 18px;
}

.right ul li a {
  color: #000000;
}

.mainContent .mar50 p {
  font-size: 1.3rem;
  line-height: 1.3;
  text-align: left;
}

/*Theory of inflation*/

.theory {
  width: 85%;
  margin: 0 auto;
}

.theory h3 {
  margin: 2px;
}

.theory .description {
  font-size: 14px;
  color: #666666;
  margin: 0;
  margin-bottom: 3px;
}

.theory .img {
  position: relative;
}

.theory .img img {
  width: 100%;
}

.theory .info {
  position: absolute;
  top: 21%;
  left: 1%;
}

.theory .bottom {
  position: absolute;
  top: 72%;
  left: 1%;
}

.theory .info .left {
  float: left;
  width: 25%;
  margin: 0;
  padding: 3px 5px;
  font-size: 14px;
}

.info .left span {
  font-weight:bold;
}

.theory .author {
  font-size: 13px;
  opacity: 0.8;
  margin-top: 10px;
}

.articleImg .img {
  width: 100%;
}

.articleImg img {
  width: 100%;
}


